<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.testMyBatis.VehicleMapper">

    <select id="selectVehicle" resultType="com.allen.testMyBatis.Vehicle">
        select * from vehicle where id &lt;= #{id};
    </select>

</mapper>