<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.testMyBatis.VehicleMapper">

    <!-- 需要在MySQL连接url中添加参数useCursorFetch，fetchSize参数才生效 -->
    <select id="selectVehicleWithFetchSize" resultType="com.allen.testMyBatis.Vehicle" fetchSize="500">
        select * from vehicle where id &lt;= #{id};
    </select>

    <select id="selectVehicle" resultType="com.allen.testMyBatis.Vehicle">
        select * from vehicle where id &lt;= #{id};
    </select>

    <!-- {resultSetType=FORWARD_ONLY, fetchSize=Integer.MIN_VALUE} -> 开启流式查询 -->
    <select id="selectVehicleWithFlow" resultSetType="FORWARD_ONLY" resultType="com.allen.testMyBatis.Vehicle" fetchSize="-2147483648">
        select * from vehicle where id &lt;= #{id};
    </select>

    <select id="selectOneVehicle" resultType="com.allen.testMyBatis.Vehicle">
        select * from vehicle where id = #{id};
    </select>

</mapper>